In [ ]:
import pandas as pd
import numpy as np
import scipy.stats as st

In [ ]:
data = pd.read_csv('/content/train.csv')
data.head()

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000
4   5          60       RL  ...        WD         Normal    250000

[5 rows x 81 columns]

Penentuan hipotesis

Karena ada pernyataan bahwa setiap tahunnya harga rumah itu pasti naik. maka :

H0 : harga rumah setiap tahunnya sama

H1 : harga rumah setiap tahunnya naik

Deskripsi Data :

In [ ]:
data['YrSold'] = data['YrSold'].apply(str)
data.dtypes

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
                  ...
MoSold             int64
YrSold            object
SaleType          object
SaleCondition     object
SalePrice          int64
Length: 81, dtype: object

In [ ]:
data_saleprice = data['SalePrice']

In [ ]:
data_yrsold = data['YrSold']

In [ ]:
data_yrsold.describe()

count     1460
unique       5
top       2009
freq       338
Name: YrSold, dtype: object

In [ ]:
data_saleprice.describe()

count      1460.000000
mean     180921.195890
std       79442.502883
min       34900.000000
25%      129975.000000
50%      163000.000000
75%      214000.000000
max      755000.000000
Name: SalePrice, dtype: float64

In [ ]:
data.groupby(['YrSold'])['SalePrice'].mean()

YrSold
2006    182549.458599
2007    186063.151976
2008    177360.838816
2009    179432.103550
2010    177393.674286
Name: SalePrice, dtype: float64

Asumsi :

Dari data diatas menunjukkan bahwa rata rata harga rumah tidak selalu naik

In [ ]:
data_2006 = data[data['YrSold'] == '2006']
data_2007 = data[data['YrSold'] == '2007']
data_2008 = data[data['YrSold'] == '2008']
data_2009 = data[data['YrSold'] == '2009']
data_2010 = data[data['YrSold'] == '2010']

Pengujian yang digunakan :
 
Untuk membandingkan rata -rata dapat menggunakan uji statistika anova

In [ ]:
f_oneway = st.f_oneway(data_2006['SalePrice'], data_2007['SalePrice'], data_2008['SalePrice'], data_2009['SalePrice'], data_2010['SalePrice'])
f_oneway

F_onewayResult(statistic=0.6455252211679311, pvalue=0.6300887663573457)

Hasil Pengujian Hipotesis

In [ ]:
p_value = f_oneway.pvalue
print('P-value : ', p_value)

if p_value >= 0.05:
  print("rata-rata harga rumah setiap tahunnya tidak terus naik")
else:
  print("rata-rata harga rumah setiap tahun selalu naik")

P-value :  0.6300887663573457
rata-rata harga rumah setiap tahunnya tidak terus naik

Sehingga, didapatkan bahwa H0 tidak terbukti dikarenakan hasil uji statistik dengan anova yang telah dilakukan menunjukkan bahwa tidak cukup bukti mengenai harga rumah setiap tahunnya selalu naik